<mat-card class="card">
    <mat-card-content class="card__content">
        <img class="card__img"
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu">
        <h2 class="card__name">Botaagua FC</h2>
        <p class="card__placar">2 - 1</p>
        <h2 class="card__name">Ferroviário AC</h2>
        <img class="card__img"
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu">
    </mat-card-content>
</mat-card>

