<mat-card class="card">
    <mat-card-content class="card__content">
        <img class="card__img"
            src={{match.urlShieldHome}}
            alt={{match.nameHome}}>
        <h2 class="card__name">{{ match.nameHome }}</h2>
        <p class="card__placar">{{ match.golsHome }} - {{ match.golsAway }}</p>
        <h2 class="card__name">{{ match.nameAway }}</h2>
        <img class="card__img"
            src={{match.urlShieldAway}}
            alt={{match.nameAway}}>
    </mat-card-content>
</mat-card>

