.content {
  padding: 20px;
  flex: 1;
}
  
.content_form{
  display: flex;
}
  
.content_form_item{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
  
.content button{
  margin: 10px;
  margin-bottom: 30px;
}
  
.form-field {
  width: 400px;
}
  
.spacer {
  flex: 1 1 auto;
}

::ng-deep snack-bar-container.done_snackbar {
  background-color: #28d662;
  color: #FFFFFF;
}

::ng-deep snack-bar-container.error_snackbar {
  background-color: #f44336;
  color: #FFFFFF;
}