<spa-header></spa-header>
<div class="content">
    <h1>Inserindo Dados da partida</h1>
    <div class="content_form">
        <div class="content_form_item">
            <mat-form-field class="form-field" appearence="fill">
                <mat-label>Link do Escudo do Clube Mandante</mat-label>
                <input matInput type="text" required [(ngModel)]="urlShieldHome">
                <mat-hint align="end">Escudo do Botaagua="botaagua.jpg"</mat-hint>
            </mat-form-field>
            <mat-form-field class="form-field" appearence="fill">
                <mat-label>Nome do Clube Mandante</mat-label>
                <input matInput type="text" required [(ngModel)]="nameHome">
            </mat-form-field>
            <mat-form-field class="form-field" appearence="fill">
                <mat-label>Número de gols do Clube Mandante</mat-label>
                <input matInput type="number" required [(ngModel)]="golsHome">
            </mat-form-field>
        </div>
        <div class="content_form_item">
            <mat-form-field class="form-field" appearence="fill">
                <mat-label>Link do Escudo do Clube Visitante</mat-label>
                <input matInput type="text" required [(ngModel)]="urlShieldAway">
                <mat-hint align="end">Escudo do Botaagua="botaagua.jpg"</mat-hint>
            </mat-form-field>
            <mat-form-field class="form-field" appearence="fill">
                <mat-label>Nome do Clube Visitante</mat-label>
                <input matInput type="text" required [(ngModel)]="nameAway">
            </mat-form-field>
            <mat-form-field class="form-field" appearence="fill">
                <mat-label>Número de gols do Clube Visitante</mat-label>
                <input matInput type="number" required [(ngModel)]="golsAway">
            </mat-form-field>
        </div>
    </div>
    <button mat-raised-button color="primary" (click)="createMatch()">Salvar</button>

    <h1>Exibindo Jogos</h1>
    <div *ngIf="matchs.length === 0">
        Não possui partidas
    </div>
    <div *ngFor="let match of matchs">
        <spa-card-match [match]="match"></spa-card-match>
    </div>

</div>
